@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto:wght@700&display=swap');


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.anim {
    border:solid 1px black;
}

.jumbotron {
    margin-left:auto;
    margin-right: auto;
    display: block;
}

.wrapper{
    align-items:stretch;
    width:100%;
    display:flex;

}

#sidebar {
    min-width:250px;
    max-width:250px;
    min-height:100vh;
    background-color:#0b0b0b;
    position:fixed;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:white;
    font-family:Muli;
}

.sidebar-header {
    text-align: center;
    padding:1em;
}
a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#skills {
    background-color:#131313;
}
#edu {
    background-color:#131313;
}

.content {
    display: block;
    padding-left:250px;
    width: 100%;
}

.jumbotron p{
    font-family:Lato;
    font-size:1.4vw;
    margin:15px;
}
.welcome {
    text-align: center;
}

.full img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.full {
    height:100vh;
    min-height:100vh;
    padding-top:20px;
    text-align: center;
    opacity:0;
    transition: opacity 0.5s ease-in;
}
.full.appear {
    opacity:1;
}

#text-about{
    margin-left: 15px;
    text-align: left;
    font-family:'Roboto';font-size:1.3vw
}

.text-skill{
    margin-top:1.5vw;
}

.row {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-top: 3vw;
}

#contact{
    margin-top:150px;
}

#part3{
    background-color: whitesmoke;
}

.project-item {
    max-width: 25vw;
    max-height:20vw;
    box-shadow: 0px 0px 3px grey;
}



/*.col-sm {*/
/*    margin-inline: 6vw;*/

.col{
    max-width: 20vw;
}

.typewrite {
    font-family:"Open Sans";
}


.carousel {
    max-width: 50vw;
    margin-top:2vw;
    margin-left: auto;
    margin-right: auto;

}
hr{
    width:0%;
}

hr.appear{
    width: 10%;
    animation: loadBorder 2s;

}

#part2 {
    background-color:whitesmoke;
}
html {
    scroll-behavior: smooth;
}

.btn-learn a{
    color:white;
    background-color: black;
    border:solid 2px black;
    font-size:1.4vw;
    padding:0.9vw;
    font-family:Roboto;
}

.btn-learn a:hover {
    transition-delay: 0.1s;
    box-shadow: 1px 1px 2px black;
    font-size:1.45vw;
}

.btn-learn {
    height:10%;
}
.full h1{
    margin-bottom: 1vw;
    margin-top:3.5vw;
    font-size: 3vw;
    font-family: "Arial";

}

.tab-pane.active h4{
    text-align: left;
    margin-left: 20px;
    font-family: Roboto;

}

.tab-pane.active h6{
    font-family: Roboto;
    text-align: left;
    margin-left: 20px;
}

.list-group a{
    margin-bottom:2.5vw;
    border:2px solid black;
    font-size: 20px;
    color:#0b0b0b;
    background-color: whitesmoke;
}

.container-fluid{
    display: flex;
    max-width: 7vw;
}


.list-group .list-group-item-action.active{
    margin-bottom:2.5vw;
    background-color: #0b0b0b;
    border-color: #0b0b0b;
}

ul{
    font-family: "Open Sans";
}


.contact-item{
    max-width: 3.3vw;
    margin-bottom: 2vw;
    margin-top:1vw;
}

#contact{
    max-height:30vh;height:30vh;min-height: 30vh
}

@keyframes loadBorder {
    from {
        width:0vw;
    }
    to{
        width:10%;
    }

}


@media screen and (min-width:768px) {
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
    .img-fluid{
        max-width: 40%;
    }

    .img-thumbnail{
        max-width: 150px;
    }
    .jumbotron {
        padding-top:5px;
        padding-bottom: 5px;
        max-width: 50vw;
    }
    .anim {
         padding:20px;
    }

    #about {
        margin-top: 4vw;
    }
    .typewrite {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .column {
        max-width: 25vw;
    }

}

@media (max-width: 768px) {
    .full{
        min-height: 95vh;
        max-height: 95vh;
    }

    #sidebar {
        margin-left: -250px;
        box-shadow:none;
    }
    .project-item {
        max-height:35vw;
        max-width: 35vw;
    }

    .list-group a{
        font-size: 4vw;
        width: 125%;
    }

    .content {
        padding-left:0;
    }
    .typewrite {
        margin-top: 10vw;
        margin-bottom:10vw;
    }
    .anim {
        padding:10px;
    }

    .jumbotron {
        margin-inline: 15px;
        padding-top:4px;
        padding-bottom: 4px;

        cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          display: block;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 0;
          transition: 1s;
    }


    .full h5{
        font-size:medium;
        margin-left:15px;
    }

    .content p {
        font-size:4.5vw;
    }
       .btn-learn a{
        font-size:4vw;
           padding:3vw;
    }
       .btn-learn{
           padding-top:1vw;
       }
       .btn-learn a:hover {
            font-size:4.2vw;
        }

    .full h1{
        margin-top:8vw;
        margin-bottom: 5vw;
        font-size: 7vw;
    }

    .carousel{
        min-width: 80vw;
    }

    .col-7 h4{
        font-size:medium;
    }

    .col-7 li{
        font-size:3.4vw;
    }
  

    .col h4{
        font-size:3.2vw;
    }

    .col p{
        font-size:2.7vw;
    }

    .contact-item{
        max-width: 8vw;
    }

    .tab-pane h6{
        font-size: 3.3vw;
    }

    #text-about{
        font-size:4.5vw;
        margin-left:15px;
    }


}

